.main-content .browser-usage{
	background-color: #fff;
	margin-top: 15px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #888;
	border-top: solid 3px #aaa;
	color: #000;
	.wrapper{
		overflow: hidden
	}
}