.main-content .calendar{
	margin: 15px;
	background-color: #fff;
	box-shadow: 2px 2px 2px #888;
	border-radius: 3px;
	overflow: hidden;
	header{
		overflow: auto;
		padding-top: 5px;
		padding-right: 10px;
	}
	footer{
		overflow: auto;
		padding-bottom: 20px;
	}
}