.main-content .direct-chat{
	overflow: hidden;
	border-top: solid 3px #dd9911;
	background-color: #fff;
	border-radius: 3px;
	color: black;
	margin-top: 15px
}

.main-content .direct-chat .message img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}


.main-content .direct-chat .messages{
	height: 400px;
	overflow-y: scroll;
}
