.main-content .info-panel .panel{
	overflow: hidden;
	margin-bottom: 10px;
}

.main-content .info-panel .panel .logo{
	color: #fff;
	height: 100px;
	float: left;
	width: 40%;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
}


.main-content .info-panel .panel .info{
	background-color: white;
	color: black;
	padding-top: 10px;
	padding-left: 8px;
	height: 100px;
	margin-left: 40%;
}
