.recently-added-products{
	border-top: solid 3px #00f;
	color:black;
	margin-top: 15px;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	transition: opacity 1s ease-out;

}

.recently-added-products .preview-box{
	height: 60px;
	line-height: 60px;
	display: inline-block
}

.recently-added-products>main{
	overflow: hidden;
	max-height: 600px;
	transition: max-height 1s ease-out;
}

.recently-added-products>footer{
	overflow: hidden;
	max-height: 200px;
	transition: max-height 1s ease-out;
}

.recently-added-products>footer>div{
	padding: 10px;
}