@nice-blue: #29f;


.main-content .latest-orders{
	margin-top: 15px;
	border-top: solid 3px @nice-blue;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	color: #222;
	main{
		&>div{
		padding: 20px
		}
	}
	footer{
		overflow: hidden;
		&>div{
			margin:10px 20px;
		}
	}

}